Source: libansi
Section: libraries
Priority: extra
XBSC-Group: Communication
XBSC-Subgroup: Protocols
XBSC-Family: all
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libansi
Provides: ANSI.h
Architecture: all
Description: ANSI library
 Performs ANSI control codes on Stream devices.

